body {
    background-image: url('/img/login1.jpg');
    background-size: 50% auto; /* Ancho al 50%, altura automática */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px rgb(17, 16, 16);
    width: 100%;
    max-width: 400px;

    padding: 20px; /* Añadido para separar el contenido del borde */
}

h1, h3 {
    text-align: center;
    color: rgb(20, 19, 19);
}

h5{
    text-align: justify;
    color: rgb(7, 6, 6);
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Hacemos los input del formulario transparentes */
