
body {
    background-image: url('/img/login1.jpg');

    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}



/* Hacemos los input del formulario transparentes */
